@model IEnumerable<GerenciadorEstoque.Presentation.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between mb-4">
    <h1 class="my-4">@ViewData["Title"]</h1>
    <a href="@Url.Action("Create", "Produtos")" class="btn btn-success btn-md align-self-center">Adicionar Produto</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        Nenhum produto encontrado.
    </div>
}
else
{
    <table class="table table-striped table-hover table-responsive">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-md-2">Nome</th>
                <th scope="col" class="col-md-4">Descrição</th>
                <th scope="col" class="col-md-2">GTIN</th>
                <th scope="col" class="col-md-2 text-end"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Gtin</td>
                    <td class="text-end">
                        <a href="@Url.Action("Details", "Produtos", new { id = produto.Id })" class="btn btn-primary btn-md">Visualizar</a>
                        <a href="@Url.Action("Edit", "Produtos", new { id = produto.Id })" class="btn btn-primary btn-md">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
